*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.main{
  /* background-color:rgb(106, 182, 178); */
  /* background-color:rgb(206, 5, 115); */
  /* background-image: linear-gradient(to right, rgb(245, 103, 103) , rgb(41, 41, 38)); */
 background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #04abe2, #037089); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  /* display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px; */
}
.college-logo{
  height: 115px;
  margin-top: 12px;
  text-align: center;

}
.clg-heading{
  margin-left: 20px;
  margin-top: 25px;
  /* align-items: stretch; */
  text-align: center;
}
.data-science-header{
  margin-right: 70px;
}

marquee{
 margin-top: 15px;
 width: 100%;
 background-color: rgb(81, 235, 127);
 border-radius: 8px;
 padding-top: 2px;
 padding-bottom: 4px;
 font-size: 13px;
 font-weight: bold;
}

.carousel-item img{
  height:520px;
  border: 10px solid #555;
}

.carousel-caption{
  background: rgba(245, 243, 243, 0.531);
  border-radius: 40%;
}

.list-style li{
 list-style:none;
 margin-right: 18px;
}

.list-style li::before{
  content: "\00BB";
  font-size: 28px;
  color: #046277 ;
}

.p-text{
  margin-left: 22px;
  margin-right: 18px;
  text-align: justify;
}

.table-responsive-md{
  margin-top: 15px;
  margin-bottom: 30px;
  /* width: 90%;
  overflow: hidden; */
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.notification{
  position: relative;
 width: 100%; 
  color: hsl(0, 79%, 44%);
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 2px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  /* animation: typewriter 4s steps(44) 1s 1 normal both, */
  animation: typewriter 6s steps(44) 1s infinite both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    /* width: 710px; */
    width: 460px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

/* Mobile Responsiveness */
@media (max-width: 992px) {
  .college-logo{
    height: 115px;
    margin-top: 32px;
    text-align: center;
}
.data-science-header{
  margin-right: 30px;
}
.carousel-item img{
  height:290px;
  border:2px solid;
}
/* table{
  margin-bottom: 50px;
  table-layout: fixed;
width: 100%;
  overflow: hidden;
} */
}

@media (max-width: 480px) { 
  .notification{
    font-size: 3vw;
  }
 }
